<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tipz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B7C000B1D89E03200D81553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7C00161D89E03200D81553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7CFFF71D89E03100D81553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
